 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Netrunning</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
<!--     <script src="/client.js" type="text/javascript" defer></script> -->
<!--      <script src="/client.js" defer></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

  </head>
  <body>
    <h1 id="title">About Netrunning</h1>
   
    
    <button onclick = "window.location.replace('/create')">
      Create a Netspace
    </button>
    
    <button onclick="window.location.replace('/?example')">
      Try an example Netspace
    </button>
<!--   <a href="/create">Create a Netspace</a>
     <a href="/?example">Try an example Netspace</a> -->
    
    
    
    
   <br> <b><br>Navigation commands<br></b>Level <br>Map
    <br>Pathfinder<br>Move Down<br>Move Up<br>
    <b><br>Password commands<br></b>Password (eg)123<br>Backdoor<br>
    <b><br>File commands</b><br>Eyedee<br>Move Down<br>
    <br><b>Virus commands</b><br>Remove Virus<br>Move Down<br>
    <br><b>Control Node commands</b><br>Control<br>Move Down<br>
    <br><b>Hellhound commands</b><br>Attack<br>Banhammer<br>Flack<br>Slide<br>
    <br><b>Other commands</b><br>(eg)1d10<br>Roll (eg)3d6<br>Cloak<br>Leave Virus<br>Copy<br>Share<br>Help (eg) Virus<br>
  </body>
</html>


