body {
  margin: 2em;
  background-color: black;
  color: green;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.hackerInput {
  background-color: black;
  width: 70%;
  border: 2px solid darkgreen;
  padding: 12px 20px;
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.userText {
  color: white;
}

.damageText {
  color: red;
}

textarea {
  display: inline-block;
  vertical-align: middle;
  /*   white-space: pre-line;
  overflow-wrap: break-word; */
}
